/* IMPORT DE GOOGLEFONTS */

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

/*  */


/*  */


/* VARIABLES */


/*  */


/*  */

:root {
    --negro: #000000;
    --blanco: #FFFFFF;
    --darkness: #161e0d;
    --mid: #606C38;
    --clear: #FEFAE0;
    --auxmid: #BC6C25;
    --auxclear: #DDA15E;
    --coolfont: 'Beau Rivage', cursive;
}


/*  */


/*  */


/* GLOBALES */


/*  */


/*  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: var(--darkness);
}


/*  */


/*  */


/* Utilidades */


/*  */


/*  */

.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*  */


/*  */


/* HEADER */


/*  */


/*  */

.header__hero {
    height: 100vh;
    background-image: url(../assets/amazonas2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero__support {
    height: 100vh;
    margin: 0 10vw;
}

.hero__text blockquote {
    font-family: var(--coolfont);
    font-size: 3rem;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}

.hero__text blockquote::first-letter {
    font-size: 5rem;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 1.5rem 5rem;
    width: 100%;
    z-index: 10;
}

.nav__container {
    display: flex;
    gap: 2rem;
}

.header__nav a {
    color: var(--blanco);
    font-size: 2.5rem;
    font-weight: 400;
    padding: .5rem 1rem;
    border-radius: 20px 0;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
    text-align: center;
}

.hero__text {
    color: var(--blanco);
}

hr {
    width: 80vw;
}

@media (hover: hover) {
    .header__nav a:hover {
        color: var(--negro);
        background-color: var(--clear);
        transition: ease-in-out .5s;
        text-shadow: none;
    }
}

.nav__item--active {
    color: var(--negro) !important;
    background-color: var(--clear);
    text-shadow: none;
    border-radius: 20px 0;
    text-shadow: none !important;
}

.header__enbellecedor {
    background-color: var(--negro);
    height: 7rem;
    position: sticky;
    top: 0;
    z-index: 9;
    box-shadow: 0px -14px 50px 32px #000000;
}

@media (max-width: 1100px) {
    .header__nav {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        height: 14.2rem;
        padding: 0;
    }
    .header__nav>a {
        font-size: 7rem;
        /*2.13rem - 3vw - 7rem */
        font-weight: 100;
    }
    .header__enbellecedor {
        height: 15.5rem;
    }
    .nav__item a {
        font-size: clamp(1.9rem, 2.7vw, 7rem);
    }
}

@media (min-width: 1100px) {
    .header__nav hr {
        display: none;
    }
}


/*  */


/*  */


/* MAIN CONTENT */


/*  */


/*  */

main {
    background-color: var(--negro);
    width: min(90rem, 90vw);
    margin: 0 auto;
}


/* ENCABEZADO */

h1 {
    color: var(--clear);
    padding: 3rem 0 2rem 0;
    font-size: clamp(4rem, 17vw, 12rem);
    /*  4rem 17vw 12rem */
    text-align: center;
    font-weight: 100;
    line-height: .7;
}


/* INDEX'S CONTENT */

.developer__article {
    background-color: var(--blanco);
    display: grid;
    grid-template-columns: 4fr 7fr;
    grid-auto-flow: dense;
}

.article__imagen {
    height: 100%;
    background-image: url(../assets/musseum1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 80px 8px #000000;
}

.article__imagen h2 {
    font-size: clamp(3.7rem, 18.4vw, 10rem);
    color: var(--blanco);
}

.article__text {
    padding: 2rem;
}

.article__text p {
    font-size: 1.2rem;
}

.developer__article:nth-child(even) {
    grid-template-columns: 7fr 4fr;
}

.article__imagen:nth-child(odd) {
    background-image: url(../assets/Smart-Factory.jpg);
    /* CAMBIA LA IMAGEN*/
}

.article__text h3 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.article__text p {
    line-height: 1.7;
}

.article__text blockquote {
    font-family: var(--coolfont);
    font-size: 2.1rem;
    line-height: .7;
}

.article__text blockquote::after,
.article__text blockquote::before {
    content: "''";
    font-size: 3rem;
}

.article__quote {
    margin: 1rem auto .3rem auto;
    padding: 0 2rem;
}

.article__quote p,
.hero__text p {
    text-align: end;
    font-style: italic;
    font-size: .9rem;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    background-color: var(--negro);
    padding: 1rem 0;
}

footer ul {
    display: flex;
    gap: 2rem;
}

footer * {
    font-size: 2.1rem;
    color: var(--clear);
}

@media (max-width: 775px) {
    .developer__article {
        display: flex;
        flex-direction: column;
    }
    .developer__article:first-child {
        flex-direction: column-reverse;
    }
    .article__imagen {
        height: 300px;
    }
}

@media (max-width: 666px) {
    .nav__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    .header__nav hr {
        display: none;
    }
    .header__nav>a {
        font-size: 3rem;
    }
    .header__nav {
        gap: .5rem;
    }
}

@media (max-width: 400px) {
    .hero__text blockquote {
        font-size: clamp(1.8rem, 7vw, 3rem);
    }
}

@media (max-width: 320px) {
    .header__enbellecedor {
        height: 16rem;
    }
}

@media (max-height: 450px) {
    .hero__text {
        display: none;
    }
    .article__text p {
        font-size: 1.5rem;
    }
    .article__text blockquote {
        font-size: 2.7rem;
    }
    footer {
        flex-direction: column;
    }
}


/* ABOUT ME PAGE */

.aboutme__me img,
.aboutme__image {
    width: 100%;
    height: 35rem;
    object-fit: cover;
}

.aboutme__text {
    flex-direction: column;
}

.aboutme__text h2 {
    color: var(--clear);
    font-size: 3rem;
    text-align: center;
    margin: 1.5rem auto;
    background-color: var(--negro);
}

.aboutme__text p {
    font-size: 1.4rem;
    width: 100%;
    background-color: var(--clear);
    padding: 2rem min(12rem, 9vw);
    text-align: justify;
}

.aboutme__image {
    background-image: url(../assets/gaming.jpg);
    background-position: center;
    background-size: cover;
}

.aboutme__image h2 {
    color: var(--blanco);
    font-size: clamp(5.8rem, 20.7vw, 14rem);
    /* 5.8rem - 20.7vw - 14rem */
}

.aboutme__hobbies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 2rem;
}

.hobbies__card {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    background: rgb(22, 30, 13);
    background: linear-gradient(0deg, rgba(22, 30, 13, 1) 0%, rgba(25, 37, 12, 1) 37%, rgba(61, 115, 0, 1) 100%);
}

.hobbies__card * {
    color: var(--clear);
}

.hobbies__card i {
    font-size: 9rem;
}

.hobbies__card h3 {
    font-size: 2.4rem;
}

.hobbies__card p {
    font-size: 1.2rem;
    text-align: center;
}

@media (max-width: 925px) {
    .aboutme__hobbies {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .aboutme__hobbies {
        display: block;
    }
    .hobbies__card {
        margin-top: 2rem;
    }
    .hobbies__card:first-child {
        margin-top: 0;
    }
    .aboutme__text p {
        text-align: start;
    }
}


/* CONOCIMIENTOS PAGE */

.conocimientos__title {
    font-size: clamp(2.7rem, 11.5vw, 12rem);
}

.conocimientos__hero {
    width: 100%;
    height: 35rem;
    object-fit: cover;
}

.conocimientos__item * {
    color: var(--clear);
    text-align: center;
}

.list__title {
    color: var(--clear);
    font-size: clamp(4.8rem, 18vw, 10rem);
    text-align: center;
}

.list__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-flow: dense;
    gap: 2rem;
    padding: 2rem;
}

.conocimientos__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25rem;
    border-radius: 2rem;
    padding: 2rem;
    background: rgb(22, 30, 13);
    background: linear-gradient(0deg, rgba(22, 30, 13, 1) 0%, rgba(25, 37, 12, 1) 37%, rgba(61, 115, 0, 1) 100%);
}

.conocimientos__item img {
    width: 15rem;
}

.conocimientos__item i {
    font-size: 15rem;
}

.conocimientos__item h3 {
    font-size: 2rem;
}

.conocimientos__item--inprogress {
    opacity: .3;
}

.conocimientos__item--dominated {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.conocimientos__item--dominated>h3::after,
.conocimientos__item--dominated>h3::before {
    content: "⋆";
}


/* PORTFOLIO PAGE */

.portfolio__item {
    display: flex;
    height: min-content;
    width: 100%;
    background-color: var(--blanco);
}

.portfolio__imagen {
    object-fit: cover;
    object-position: center;
    width: 55%;
}

.portfolio__imagen--left {
    object-position: left;
}

.portfolio__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    width: 45%;
}

.portfolio__description h2 {
    font-size: 3.2rem;
}

.portfolio__description p {
    font-size: 1.4rem;
    text-align: justify;
}

.portfolio__description img {
    /* width: min(20rem, 32vw); */
    width: 20rem;
}

.portfolio__item:nth-child(odd) {
    flex-direction: row-reverse;
}

.portfolio__item:nth-child(even)>.portfolio__description {
    box-shadow: inset 18px 0px 50px -11px rgba(0, 0, 0, 0.98);
}

.portfolio__item:nth-child(odd)>.portfolio__description {
    box-shadow: inset -18px 0px 50px -11px rgba(0, 0, 0, 0.98);
}

@media (max-width: 700px) {
    .portfolio__item:nth-child(even),
    .portfolio__item:nth-child(odd) {
        flex-direction: column;
        border-bottom: solid var(--clear) 1px;
        margin-bottom: 3rem;
    }
    .portfolio__imagen,
    .portfolio__description {
        width: 100%;
    }
    .portfolio__item:nth-child(odd)>.portfolio__description,
    .portfolio__item:nth-child(even)>.portfolio__description {
        box-shadow: none;
    }
}


/* 270px */