/* IMPORT DE GOOGLEFONTS */

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

/*  */


/*  */


/* VARIABLES */


/*  */


/*  */

:root {
    --negro: #000000;
    --blanco: #FFFFFF;
    --darkness: #161e0d;
    --mid: #606C38;
    --clear: #FEFAE0;
    --auxmid: #BC6C25;
    --auxclear: #DDA15E;
    --coolfont: 'Beau Rivage', cursive;
}


/*  */


/*  */


/* GLOBALES */


/*  */


/*  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: var(--darkness);
}


/*  */


/*  */


/* Utilidades */


/*  */


/*  */

.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*  */


/*  */


/* HEADER */


/*  */


/*  */

.header__hero {
    height: 100vh;
    background-image: url(../assets/amazonas2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero__support {
    height: 100vh;
    margin: 0 10vw;
}

.hero__text blockquote {
    font-family: var(--coolfont);
    font-size: 3rem;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}

.hero__text blockquote::first-letter {
    font-size: 5rem;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 1.5rem 5rem;
    width: 100%;
    z-index: 10;
}

.nav__container {
    display: flex;
    gap: 2rem;
}

.header__nav a {
    color: var(--blanco);
    font-size: 2.5rem;
    font-weight: 400;
    padding: .5rem 1rem;
    border-radius: 20px 0;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
    text-align: center;
}

.hero__text {
    color: var(--blanco);
}

hr {
    width: 80vw;
}

@media (hover: hover) {
    .header__nav a:hover {
        color: var(--negro);
        background-color: var(--clear);
        transition: ease-in-out .5s;
        text-shadow: none;
    }
}

.nav__item--active {
    color: var(--negro) !important;
    background-color: var(--clear);
    text-shadow: none;
    border-radius: 20px 0;
    text-shadow: none !important;
}

.header__enbellecedor {
    background-color: var(--negro);
    height: 7rem;
    position: sticky;
    top: 0;
    z-index: 9;
    box-shadow: 0px -14px 50px 32px #000000;
}

@media (max-width: 1100px) {
    .header__nav {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        height: 14.2rem;
        padding: 0;
    }
    .header__nav>a {
        font-size: 7rem;
        /*2.13rem - 3vw - 7rem */
        font-weight: 100;
    }
    .header__enbellecedor {
        height: 15.5rem;
    }
    .nav__item a {
        font-size: clamp(1.9rem, 2.7vw, 7rem);
    }
}

@media (min-width: 1100px) {
    .header__nav hr {
        display: none;
    }
}


/*  */


/*  */


/* MAIN CONTENT */


/*  */


/*  */

main {
    background-color: var(--negro);
    width: min(90rem, 90vw);
    margin: 0 auto;
}


/* ENCABEZADO */

h1 {
    color: var(--clear);
    padding: 3rem 0 2rem 0;
    font-size: clamp(4rem, 17vw, 12rem);
    /*  4rem 17vw 12rem */
    text-align: center;
    font-weight: 100;
    line-height: .7;
}


/* INDEX'S CONTENT */

.developer__article {
    background-color: var(--blanco);
    display: grid;
    grid-template-columns: 4fr 7fr;
    grid-auto-flow: dense;
}

.article__imagen {
    height: 100%;
    background-image: url(../assets/musseum\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 80px 8px #000000;
}

.article__imagen h2 {
    font-size: clamp(3.7rem, 18.4vw, 10rem);
    color: var(--blanco);
}

.article__text {
    padding: 2rem;
}

.article__text p {
    font-size: 1.2rem;
}

.developer__article:nth-child(even) {
    grid-template-columns: 7fr 4fr;
}

.article__imagen:nth-child(odd) {
    background-image: url(../assets/Smart-Factory.jpg);
    /* CAMBIA LA IMAGEN*/
}

.article__text h3 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.article__text p {
    line-height: 1.7;
}

.article__text blockquote {
    font-family: var(--coolfont);
    font-size: 2.1rem;
    line-height: .7;
}

.article__text blockquote::after,
.article__text blockquote::before {
    content: "''";
    font-size: 3rem;
}

.article__quote {
    margin: 1rem auto .3rem auto;
    padding: 0 2rem;
}

.article__quote p,
.hero__text p {
    text-align: end;
    font-style: italic;
    font-size: .9rem;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    background-color: var(--negro);
    padding: 1rem 0;
}

footer ul {
    display: flex;
    gap: 2rem;
}

footer * {
    font-size: 2.1rem;
    color: var(--clear);
}

@media (max-width: 775px) {
    .developer__article {
        display: flex;
        flex-direction: column;
    }
    .developer__article:first-child {
        flex-direction: column-reverse;
    }
    .article__imagen {
        height: 300px;
    }
}

@media (max-width: 666px) {
    .nav__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    .header__nav hr {
        display: none;
    }
    .header__nav>a {
        font-size: 3rem;
    }
    .header__nav {
        gap: .5rem;
    }
}

@media (max-width: 400px) {
    .hero__text blockquote {
        font-size: clamp(1.8rem, 7vw, 3rem);
    }
}

@media (max-width: 320px) {
    .header__enbellecedor {
        height: 16rem;
    }
}

@media (max-height: 450px) {
    .hero__text {
        display: none;
    }
    .article__text p {
        font-size: 1.5rem;
    }
    .article__text blockquote {
        font-size: 2.7rem;
    }
}


/* 240px */